/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
}

/* Header Styles */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px;
    transition: 0.5s;
}

header.shadow {
    background: var(--bg-color);
    box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}

header.shadow .navbar a {
    color: var(--text-color);
}

header.shadow .logo {
    color: var(--text-color);
}

.logo {
    font-size: 1.1rem;
    font-weight: 600;
    align-items: center;
    color: var(--bg-color);
    display: flex;
    column-gap: 0.5rem;
}

.navbar {
    display: flex;
    column-gap: 5rem;
}

.navbar li {
    position: relative;
}

.navbar a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--bg-color);
}

.navbar a::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.4s all linear;
}

.navbar a:hover::after,
.navbar .home-active::after {
    width: 100%;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 1000001;
    display: none;
}

.btn {
    padding: 0.7rem 1.4rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 0.5rem;
}

.btn:hover {
    background: #fa1216;
}

/* Main Content Styles */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin-top: 100px;
}

section {
    padding: 2rem;
    margin-bottom: 20px;
    box-shadow: 0 0 4px rgba(14, 55, 54, 0.15);
}

h2 {
    font-size: 24px;
    font-weight: 600;
    color: #ff2c1f;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin-bottom: 20px;
}

.container {
    width: 100%;
    min-height: 640px;
    position: relative;
    display: flex;
    align-items: center;
    background: rgb(2, 3, 7, 0.5);
}

.container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.btn {
    padding: 0.7rem 1.4rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 0.5rem;
    margin-right: 10px;
}

.btn-guest {
    padding: 0.7rem 1.4rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 0.5rem;
    margin-right: 20px;
    margin-bottom: 100px;
}

.btn-close {
    padding: 0.7rem 1.4rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 0.5rem;
    margin-left: 100px;
}

.btn-login {
    padding: 0.7rem 1.4rem;
    background: var(--main-color);
    color: var(--bg-color);
  
}

/* Manager Container Styles */
.manager-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.manager_state {
    background: #1c1c1c;
    border: 1px solid #444;
    border-radius: 10px;
    padding: 20px;
   
}