* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  
  :root {
    --main-color: #ff2c1f;
    --text-color: #020307;
    --bg-color: #fff;
  }
  
  body {
    background: linear-gradient(gray,black);
    color: var(--bg-color);
  }
  
  header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 100px;
    transition: 0.5s;
    background: var(--text-color);
  
  }
  
  header.shadow {
    background: var(--bg-color);
    box-shadow: 0 0 4px rgb(14 55 54/15%);
  }
  
  header.shadow .navbar a {
    color: var(--bg-color);
  }
  
  header.shadow .logo {
    color: var(--text-color);
  }
  
  .logo {
    font-size: 1.1rem;
    font-weight: 600;
    align-items: center;
    color: var(--bg-color);
    display: flex;
    column-gap: 0.5rem;
  }
  h1 {
    margin-top: 100px;
    text-align: center;
    font-size: 4em;
    text-shadow: 2px 2px 4px solid black; 
    
  }

  h2 {
    margin-top: 100px;
    text-align: center;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px solid black; 
  }
  .bx {
    color: var(--main-color);
  }
  
  .navbar {
    display: flex;
    column-gap: 5rem;
  }
  
  .navbar li {
    position: relative;
  
  }
  
  .navbar a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--bg-color);
  }
  
  .navbar a::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.4s all linear;
  }
  
  .navbar a:hover::after,
  .navbar .home-active::after {
    width: 100%;
  }
  
  #menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 1000001;
    display: none;
  }
  
  .btn {
    padding: 0.7rem 1.4rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 0.5rem;
  }
  
  .btn:hover {
    background: #fa1216;
  }
    
    .food-menu {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 20px;
      color: black;
      
    }
    
    .menu-item {
      width: 300px;
      background-color:white;
      border-radius: 10px;
      padding: 20px;
      margin: 10px;
      text-align: center;
    }
    
    .menu-item h3 {
      font-size: 20px;
      margin-bottom: 10px;
      color: black;
    }
    
    .menu-item p {
      font-size: 16px;
      margin-bottom: 15px;
    }
    
    .menu-item img {
      width: 100%;
      border-radius: 10px;
    }
    
    .menu-item button {
      background-color: #ff5500;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      text-decoration: none;
      cursor: pointer;
    }
    
    .special-offers {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
    
    .offer {
      width: 500px;
      background-color: var(--bg-color);
      border-radius: 10px;
      padding: 20px;
      margin: 10px;
      text-align: center;
    }
    
    .offer h3 {
      font-size: 20px;
      margin-bottom: 10px;
      color: var(--text-color);
    }
    
    .offer p {
      font-size: 16px;
      margin-bottom: 15px;
      color: var(--text-color);
    }
    
    .offer img {
      width: 100%;
      border-radius: 10px;
    }
    
    .offer button {
      background-color: #ff5500;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      text-decoration: none;
      cursor: pointer;
    }
    
    footer {
      background-color: #222;
      color: #fff;
      padding: 20px;
      text-align: center;
    }